body{
  color: #2c2b31;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
}

.container{
  width: 390px;
  margin: 0 auto;
}

.flag {
  font-family: 'Noto Color Emoji', sans-serif;
  font-size: 12px;
}