.slider__main{
  margin-bottom: 20px;
  border-radius: 20px;
}

.slider__nav{
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
}

.slider__small-image{
  width: 80px;
  height: 66px;
  border-radius: 10px;
}

.active{
  opacity: 0.4;
}